In [1]:
import pandas as pd
import numpy as np

In [2]:
# =====================================================
# 1. KLASIFIKASI SKOR TOTAL GURU
# =====================================================

# Load data guru
df_guru = pd.read_csv("files/data_LD_guru.csv", sep=';')
print("Jumlah data guru:", len(df_guru))

# Deteksi kolom Likert (skala 1-5)
likert_cols = [col for col in df_guru.columns if pd.api.types.is_numeric_dtype(df_guru[col])
               and df_guru[col].min() >= 1 and df_guru[col].max() <= 5]
non_likert_cols = [col for col in df_guru.columns if col not in likert_cols]

print(f"\nKolom Likert ({len(likert_cols)}): {likert_cols}")
print(f"Kolom Non-Likert ({len(non_likert_cols)}): {non_likert_cols}")

Jumlah data guru: 172

Kolom Likert (36): ['1. Saya mampu menghubungkan perangkat saya ke jaringan internet ', '3. Saya mampu mengunduh file/aplikasi', '4. Saya mampu mengunggah file ', '5. Saya terbiasa menggunakan Aplikasi Office seperti Word,Power Point, Excel, Visio dan Akses untuk membantu proses pembelajaran. ', '6. Saya terbiasa menggunakan selain Aplikasi Office untuk membantu proses pembelajaran. ', '8. Saya mampu mencari dan mengakses data, informasi dan konten di media digital. ', '11. Saya terbiasa menggunakan Internet untuk membantu mencari materi untuk proses pembelajaran', '12. Saya terbiasa menggunakan fasilitas Internet untuk menjadi alat peraga dalam proses pembelajaran', '13. Saya terbiasa mencari tahu menggunakan Internet apakah informasi yang saya temukan benar atau salah.', '14. Saya terbiasa membandingkan berbagai sumber informasi untuk memutuskan apakah informasi itu benar. ', '15. Saya mampu berinteraksi melalui berbagai perangkat komunikasi teknologi digital. ', '16. Saya terbiasa bekerja sama dengan orang lain dalam mengerjakan tugas atau project menggunakan perangkat komunikasi teknologi digital. ', '17. Saya terbiasa menggunakan fasilitas Chat-GPT', '18. Saya terbiasa menggunakan fasilitas Chat-GPT untuk mencari informasi dalam membantu proses pembelajaran', '1. Saya tidak mengunggah foto bersama anak orang lain', '2. Saya tidak menandai teman saat mengunggah konten tanpa perlu memberi tahu teman saya tersebut', '3. Saya tidak akan berkomentar kasar jika ada orang yang komentar negatif di unggahan saya.', '4. Saya tidak membuat grup dan menambahkan orang tanpa izin', '5. Saya tidak akan langsung membagikan informasi kecelakaan', '6. Saya tidak akan mengajak orang-orang untuk berkomentar negatif', '7. Saya tidak akan membagikan tangkapan layar percakapan ke media sosial', '1. Di akun media sosial, saya bisa mengatur siapa saja yang dapat melihat lini masa saya', '2. Saya mengetahui cara melaporkan penyalahgunaan di jejaring sosial', '3. Saya dapat menonaktifkan opsi untuk menunjukkan posisi geografis', '4. Saya tidak mengunggah data pribadi di media sosial', '5. Saya menggunakan aplikasi untuk menemukan dan menghapus virus di perangkat saya', '6. Saya bisa membedakan e-mail yang berisi spam/virus/malware', '7. Saya terbiasa membuat password yang aman dengan kombinasi angka, huruf, dan tanda baca', '8. Saya melakukan back up data di beberapa tempat', '1. Saya menyesuaikan cara berkomunikasi agar pihak kedua tidak merasa tersinggung', '2. Saya mempertimbangkan perasaan pembaca yang berasal dari agama lain.', '3. Saya mencantumkan nama penulis saat repost', '4. Saya mempertimbangkan perasaan pembaca yang berasal dari suku lain.', '5. Saya berbagi seni budaya tradisional dan kontemporer Indonesia secara digital', '6. Saya mempertimbangkan perasaan pembaca yang memiliki pandangan politik berbeda', '7. Saya selalu mempertimbangkan dan menyadari keragaman budaya di media sosial saat membagikan pesan.']
Kolom Non-Likert (9): ['Timestamp', 'Email Address', 'NAMA', 'Usia', 'Asal Instansi', '2. Jaringan Internet yang sering dipakai', '7. Sebutkan Aplikasi lain selain Office dalam membantu proses pembelajaran', '9. Dalam Sehari berapa jam anda menggunakan teknologi Digital', '10. Aplikasi yang Sering Digunakan']

In [3]:
# Ambil hanya kolom Likert
df_likert_guru = df_guru[likert_cols]
print("\nData Likert Guru:")
df_likert_guru.head(3)

Data Likert Guru:

,1. Saya mampu menghubungkan perangkat saya ke jaringan internet,3. Saya mampu mengunduh file/aplikasi,4. Saya mampu mengunggah file,"5. Saya terbiasa menggunakan Aplikasi Office seperti Word,Power Point, Excel, Visio dan Akses untuk membantu proses pembelajaran.",6. Saya terbiasa menggunakan selain Aplikasi Office untuk membantu proses pembelajaran.,"8. Saya mampu mencari dan mengakses data, informasi dan konten di media digital.",11. Saya terbiasa menggunakan Internet untuk membantu mencari materi untuk proses pembelajaran,12. Saya terbiasa menggunakan fasilitas Internet untuk menjadi alat peraga dalam proses pembelajaran,13. Saya terbiasa mencari tahu menggunakan Internet apakah informasi yang saya temukan benar atau salah.,14. Saya terbiasa membandingkan berbagai sumber informasi untuk memutuskan apakah informasi itu benar.,...,6. Saya bisa membedakan e-mail yang berisi spam/virus/malware,"7. Saya terbiasa membuat password yang aman dengan kombinasi angka, huruf, dan tanda baca",8. Saya melakukan back up data di beberapa tempat,1. Saya menyesuaikan cara berkomunikasi agar pihak kedua tidak merasa tersinggung,2. Saya mempertimbangkan perasaan pembaca yang berasal dari agama lain.,3. Saya mencantumkan nama penulis saat repost,4. Saya mempertimbangkan perasaan pembaca yang berasal dari suku lain.,5. Saya berbagi seni budaya tradisional dan kontemporer Indonesia secara digital,6. Saya mempertimbangkan perasaan pembaca yang memiliki pandangan politik berbeda,7. Saya selalu mempertimbangkan dan menyadari keragaman budaya di media sosial saat membagikan pesan.
0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1,4.0,4.0,4.0,4.0,4.0,4.0,3.0,3.0,3.0,3.0,...,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,3.0,3.0
2,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0

In [4]:
# Bagi dimensi
dim_skill = likert_cols[0:18]
dim_etika = likert_cols[18:25]
dim_keamanan = likert_cols[25:33]
dim_budaya = likert_cols[33:40]

# Hitung rata-rata per dimensi
df_guru["Skill_Digital"] = df_likert_guru[dim_skill].mean(axis=1)
df_guru["Etika_Digital"] = df_likert_guru[dim_etika].mean(axis=1)
df_guru["Keamanan_Digital"] = df_likert_guru[dim_keamanan].mean(axis=1)
df_guru["Budaya_Digital"] = df_likert_guru[dim_budaya].mean(axis=1)

print("\nSkor Guru per Dimensi:")
df_guru[["Skill_Digital", "Etika_Digital", "Keamanan_Digital", "Budaya_Digital"]].head()

Skor Guru per Dimensi:

   Skill_Digital  Etika_Digital  Keamanan_Digital  Budaya_Digital
0       3.000000       3.000000             3.000        3.000000
1       2.666667       1.857143             2.500        2.333333
2       4.000000       3.428571             3.875        4.000000
3       3.277778       3.142857             4.500        4.000000
4       2.444444       1.285714             1.125        1.000000

In [5]:
# 4. HITUNG SKOR TOTAL DAN RATA-RATA LD GURU
df_guru["Total_LD"] = df_guru[["Skill_Digital","Etika_Digital","Keamanan_Digital","Budaya_Digital"]].sum(axis=1)
df_guru["Mean_LD"] = df_guru[["Skill_Digital","Etika_Digital","Keamanan_Digital","Budaya_Digital"]].mean(axis=1)
print("\nRata-rata Skor Total Literasi Digital Guru:")
df_guru[["Total_LD", "Mean_LD"]].head()

Rata-rata Skor Total Literasi Digital Guru:

    Total_LD   Mean_LD
0  12.000000  3.000000
1   9.357143  2.339286
2  15.303571  3.825893
3  14.920635  3.730159
4   5.855159  1.463790

In [6]:
# 5. KLASIFIKASI SKOR TOTAL
# Klasifikasi guru
def kategori_ld(skor):
    if skor < 2.34:
        return "Rendah"
    elif skor < 3.67:
        return "Sedang"
    else:
        return "Tinggi"

df_guru["Level_LD"] = df_guru["Mean_LD"].apply(kategori_ld)

print("\nKlasifikasi Level Literasi Digital Guru:")
df_guru[["Mean_LD", "Level_LD"]].head()

Klasifikasi Level Literasi Digital Guru:

    Mean_LD Level_LD
0  3.000000   Sedang
1  2.339286   Rendah
2  3.825893   Tinggi
3  3.730159   Tinggi
4  1.463790   Rendah

In [7]:
# =====================================================
# 2. KLASIFIKASI SKOR TOTAL SISWA
# =====================================================

# Load data siswa
df_siswa = pd.read_csv("files/data_ct_siswa.csv", sep=';')
print("\nJumlah data siswa:", len(df_siswa))

# Ambil kolom soal CT
ct_cols = [col for col in df_siswa.columns if col.startswith("S ")]
for col in ct_cols:
    df_siswa[col] = pd.to_numeric(df_siswa[col].astype(str).str.replace(",", "."), errors="coerce").fillna(0)

print("\nSoal_CT:", ct_cols)

Jumlah data siswa: 1678

Soal_CT: ['S  1', 'S  2', 'S  3', 'S  4', 'S  5', 'S  6', 'S  7', 'S  8', 'S  9', 'S  10', 'S  11', 'S  12', 'S  13', 'S  14', 'S  15']

In [8]:
# 2. HITUNG SKOR TOTAL DAN RATA-RATA CT SISWA
df_siswa["Total_CT"] = df_siswa[ct_cols].sum(axis=1)
df_siswa["Mean_CT"] = df_siswa[ct_cols].mean(axis=1)
print("\nRata-rata Skor Total CT Siswa:")
df_siswa[["Total_CT", "Mean_CT"]].head()

Rata-rata Skor Total CT Siswa:

   Total_CT   Mean_CT
0     12.92  0.861333
1      3.61  0.240667
2     23.74  1.582667
3     29.58  1.972000
4     11.25  0.750000

In [9]:
# 3. KLASIFIKASI SKOR TOTAL SISWA

soal_cols_per_jenjang = {
    "Siaga": [col for col in ct_cols if df_siswa.loc[df_siswa["Kategori"]=="Siaga", col].notna().any()],
    "Penggalang": [col for col in ct_cols if df_siswa.loc[df_siswa["Kategori"]=="Penggalang", col].notna().any()],
    "Penegak": [col for col in ct_cols if df_siswa.loc[df_siswa["Kategori"]=="Penegak", col].notna().any()]
}

def skor_max(row):
    jenjang = row["Kategori"]
    if jenjang == "Siaga":
        return len(soal_cols_per_jenjang["Siaga"]) * 8.33
    else:
        return len(soal_cols_per_jenjang[jenjang]) * 6.67

df_siswa["Persentase_CT"] = df_siswa.apply(lambda row: row["Total_CT"]/skor_max(row), axis=1)

# Klasifikasi siswa berdasarkan persentil per jenjang
def kategori_ct(df, skor_col="Persentase_CT", jenjang_col="Kategori"):
    df["Level_CT"] = ""
    for jenjang in df[jenjang_col].unique():
        mask = df[jenjang_col] == jenjang
        q1 = df.loc[mask, skor_col].quantile(0.33)
        q2 = df.loc[mask, skor_col].quantile(0.66)
        df.loc[mask, "Level_CT"] = df.loc[mask, skor_col].apply(lambda x: "Rendah" if x<=q1 else ("Sedang" if x<=q2 else "Tinggi"))
    return df

df_siswa = kategori_ct(df_siswa)

tampil_siswa = df_siswa.groupby("Kategori").head(3)
print("\nKlasifikasi Level CT Siswa:")
tampil_siswa[["Kategori", "Persentase_CT", "Level_CT"]].head(10)

Klasifikasi Level CT Siswa:

        Kategori  Persentase_CT Level_CT
0          Siaga       0.103401   Rendah
1          Siaga       0.028892   Rendah
2          Siaga       0.189996   Sedang
385   Penggalang       0.113243   Sedang
386   Penggalang       0.439880   Tinggi
387   Penggalang       0.166517   Sedang
1613     Penegak       0.233283   Tinggi
1614     Penegak       0.244278   Tinggi
1615     Penegak      -0.005097   Rendah

In [10]:
# =====================================================
# 3. PERBANDINGAN GURU & SISWA BERDASARKAN SEKOLAH
# =====================================================

def key_school(name):
    if pd.isna(name):
        return ""
    return " ".join(str(name).lower().strip().split()[:3])  

df_guru['sekolah_key'] = df_guru['Asal Instansi'].apply(key_school)
df_siswa['sekolah_key'] = df_siswa['SekolahNama'].apply(key_school)

sekolah_sama = list(set(df_guru['sekolah_key']).intersection(set(df_siswa['sekolah_key'])))
print("Sekolah yang sama di guru & siswa:", sekolah_sama)

Sekolah yang sama di guru & siswa: ['sd kristen manahan', 'sd kristen setabelan', 'sd kristen banjarsari', 'smp kristen 1', 'smk kristen 1']

In [19]:
from scipy.stats import pearsonr

hasil_per_sekolah = []

for sk in sekolah_sama:
    guru_filt = df_guru[df_guru['sekolah_key'] == sk]
    siswa_filt = df_siswa[df_siswa['sekolah_key'] == sk]

    # Rata-rata guru & siswa
    mean_guru = guru_filt['Mean_LD'].mean() if len(guru_filt)>0 else None
    mean_siswa = siswa_filt['Mean_CT'].mean() if len(siswa_filt)>0 else None

    # Rata-rata per level
    guru_per_level = guru_filt.groupby("Level_LD")["Mean_LD"].mean().reset_index()
    siswa_per_level = siswa_filt.groupby("Level_CT")["Mean_CT"].mean().reset_index()

    # Samakan nama level
    guru_per_level.rename(columns={"Level_LD":"Level","Mean_LD":"mean_LD"}, inplace=True)
    siswa_per_level.rename(columns={"Level_CT":"Level","Mean_CT":"mean_CT"}, inplace=True)

    # Merge per level
    df_merge = pd.merge(guru_per_level, siswa_per_level, on="Level", how="inner")

    # Hitung korelasi jika ada >=2 level
    if len(df_merge) >= 2:
        r, p = pearsonr(df_merge['mean_LD'], df_merge['mean_CT'])
    else:
        r, p = None, None

    hasil_per_sekolah.append({
        'Sekolah': sk,
        'Jumlah_Guru': len(guru_filt),
        'Jumlah_Siswa': len(siswa_filt),
        'Mean_LD_Guru': round(mean_guru,3) if mean_guru is not None else None,
        'Mean_CT_Siswa': round(mean_siswa,3) if mean_siswa is not None else None,
        'r': round(r,3) if r is not None else None,
        'p': round(p,3) if p is not None else None
    })

df_hasil = pd.DataFrame(hasil_per_sekolah)
print(df_hasil)

                 Sekolah  Jumlah_Guru  Jumlah_Siswa  Mean_LD_Guru  \
0     sd kristen manahan           35           219         3.493
1   sd kristen setabelan            2             2         3.746
2  sd kristen banjarsari           19            89         3.535
3          smp kristen 1           22           215         3.363
4          smk kristen 1           27            50         3.363

   Mean_CT_Siswa      r      p
0          1.727  0.996  0.058
1          1.902    NaN    NaN
2          1.092  0.975  0.142
3          1.156  0.994  0.068
4          0.645  0.998  0.042

In [20]:
def interpretasi_korelasi(r, p):
    if pd.isna(r) or pd.isna(p):
        return "Tidak bisa dihitung (level kurang)"
    elif p < 0.05:
        return "Kuat dan signifikan"
    else:
        return "Kuat tapi tidak signifikan"

df_hasil["Interpretasi"] = df_hasil.apply(lambda x: interpretasi_korelasi(x["r"], x["p"]), axis=1)

df_ringkas = df_hasil[["Sekolah","r","p","Interpretasi"]].sort_values(by="r", ascending=False, na_position="last")

print("\n=== TABEL RINGKAS KORELASI PER SEKOLAH ===")
print(df_ringkas.to_string(index=False))

=== TABEL RINGKAS KORELASI PER SEKOLAH ===
              Sekolah     r     p                       Interpretasi
        smk kristen 1 0.998 0.042                Kuat dan signifikan
   sd kristen manahan 0.996 0.058         Kuat tapi tidak signifikan
        smp kristen 1 0.994 0.068         Kuat tapi tidak signifikan
sd kristen banjarsari 0.975 0.142         Kuat tapi tidak signifikan
 sd kristen setabelan   NaN   NaN Tidak bisa dihitung (level kurang)