In [1]:
import pandas as pd
import numpy as np

In [2]:
# =====================================================
# 1. KLASIFIKASI SKOR TOTAL GURU
# =====================================================

# Load data guru
df_guru = pd.read_csv("files/data_LD_guru.csv", sep=';')
print("Jumlah data guru:", len(df_guru))

# Deteksi kolom Likert (skala 1-5)
likert_cols = [col for col in df_guru.columns if pd.api.types.is_numeric_dtype(df_guru[col])
               and df_guru[col].min() >= 1 and df_guru[col].max() <= 5]
non_likert_cols = [col for col in df_guru.columns if col not in likert_cols]

print(f"\nKolom Likert ({len(likert_cols)}): {likert_cols}")
print(f"Kolom Non-Likert ({len(non_likert_cols)}): {non_likert_cols}")

Jumlah data guru: 172

Kolom Likert (36): ['1. Saya mampu menghubungkan perangkat saya ke jaringan internet ', '3. Saya mampu mengunduh file/aplikasi', '4. Saya mampu mengunggah file ', '5. Saya terbiasa menggunakan Aplikasi Office seperti Word,Power Point, Excel, Visio dan Akses untuk membantu proses pembelajaran. ', '6. Saya terbiasa menggunakan selain Aplikasi Office untuk membantu proses pembelajaran. ', '8. Saya mampu mencari dan mengakses data, informasi dan konten di media digital. ', '11. Saya terbiasa menggunakan Internet untuk membantu mencari materi untuk proses pembelajaran', '12. Saya terbiasa menggunakan fasilitas Internet untuk menjadi alat peraga dalam proses pembelajaran', '13. Saya terbiasa mencari tahu menggunakan Internet apakah informasi yang saya temukan benar atau salah.', '14. Saya terbiasa membandingkan berbagai sumber informasi untuk memutuskan apakah informasi itu benar. ', '15. Saya mampu berinteraksi melalui berbagai perangkat komunikasi teknologi digital. ', '16. Saya terbiasa bekerja sama dengan orang lain dalam mengerjakan tugas atau project menggunakan perangkat komunikasi teknologi digital. ', '17. Saya terbiasa menggunakan fasilitas Chat-GPT', '18. Saya terbiasa menggunakan fasilitas Chat-GPT untuk mencari informasi dalam membantu proses pembelajaran', '1. Saya tidak mengunggah foto bersama anak orang lain', '2. Saya tidak menandai teman saat mengunggah konten tanpa perlu memberi tahu teman saya tersebut', '3. Saya tidak akan berkomentar kasar jika ada orang yang komentar negatif di unggahan saya.', '4. Saya tidak membuat grup dan menambahkan orang tanpa izin', '5. Saya tidak akan langsung membagikan informasi kecelakaan', '6. Saya tidak akan mengajak orang-orang untuk berkomentar negatif', '7. Saya tidak akan membagikan tangkapan layar percakapan ke media sosial', '1. Di akun media sosial, saya bisa mengatur siapa saja yang dapat melihat lini masa saya', '2. Saya mengetahui cara melaporkan penyalahgunaan di jejaring sosial', '3. Saya dapat menonaktifkan opsi untuk menunjukkan posisi geografis', '4. Saya tidak mengunggah data pribadi di media sosial', '5. Saya menggunakan aplikasi untuk menemukan dan menghapus virus di perangkat saya', '6. Saya bisa membedakan e-mail yang berisi spam/virus/malware', '7. Saya terbiasa membuat password yang aman dengan kombinasi angka, huruf, dan tanda baca', '8. Saya melakukan back up data di beberapa tempat', '1. Saya menyesuaikan cara berkomunikasi agar pihak kedua tidak merasa tersinggung', '2. Saya mempertimbangkan perasaan pembaca yang berasal dari agama lain.', '3. Saya mencantumkan nama penulis saat repost', '4. Saya mempertimbangkan perasaan pembaca yang berasal dari suku lain.', '5. Saya berbagi seni budaya tradisional dan kontemporer Indonesia secara digital', '6. Saya mempertimbangkan perasaan pembaca yang memiliki pandangan politik berbeda', '7. Saya selalu mempertimbangkan dan menyadari keragaman budaya di media sosial saat membagikan pesan.']
Kolom Non-Likert (9): ['Timestamp', 'Email Address', 'NAMA', 'Usia', 'Asal Instansi', '2. Jaringan Internet yang sering dipakai', '7. Sebutkan Aplikasi lain selain Office dalam membantu proses pembelajaran', '9. Dalam Sehari berapa jam anda menggunakan teknologi Digital', '10. Aplikasi yang Sering Digunakan']

In [3]:
# Ambil hanya kolom Likert
df_likert_guru = df_guru[likert_cols]
print("\nData Likert Guru:")
df_likert_guru.head(3)

Data Likert Guru:

,1. Saya mampu menghubungkan perangkat saya ke jaringan internet,3. Saya mampu mengunduh file/aplikasi,4. Saya mampu mengunggah file,"5. Saya terbiasa menggunakan Aplikasi Office seperti Word,Power Point, Excel, Visio dan Akses untuk membantu proses pembelajaran.",6. Saya terbiasa menggunakan selain Aplikasi Office untuk membantu proses pembelajaran.,"8. Saya mampu mencari dan mengakses data, informasi dan konten di media digital.",11. Saya terbiasa menggunakan Internet untuk membantu mencari materi untuk proses pembelajaran,12. Saya terbiasa menggunakan fasilitas Internet untuk menjadi alat peraga dalam proses pembelajaran,13. Saya terbiasa mencari tahu menggunakan Internet apakah informasi yang saya temukan benar atau salah.,14. Saya terbiasa membandingkan berbagai sumber informasi untuk memutuskan apakah informasi itu benar.,...,6. Saya bisa membedakan e-mail yang berisi spam/virus/malware,"7. Saya terbiasa membuat password yang aman dengan kombinasi angka, huruf, dan tanda baca",8. Saya melakukan back up data di beberapa tempat,1. Saya menyesuaikan cara berkomunikasi agar pihak kedua tidak merasa tersinggung,2. Saya mempertimbangkan perasaan pembaca yang berasal dari agama lain.,3. Saya mencantumkan nama penulis saat repost,4. Saya mempertimbangkan perasaan pembaca yang berasal dari suku lain.,5. Saya berbagi seni budaya tradisional dan kontemporer Indonesia secara digital,6. Saya mempertimbangkan perasaan pembaca yang memiliki pandangan politik berbeda,7. Saya selalu mempertimbangkan dan menyadari keragaman budaya di media sosial saat membagikan pesan.
0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1,4.0,4.0,4.0,4.0,4.0,4.0,3.0,3.0,3.0,3.0,...,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,3.0,3.0
2,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0

In [4]:
# Bagi dimensi
dim_skill = likert_cols[0:18]
dim_etika = likert_cols[18:25]
dim_keamanan = likert_cols[25:33]
dim_budaya = likert_cols[33:40]

# Hitung rata-rata per dimensi
df_guru["Skill_Digital"] = df_likert_guru[dim_skill].mean(axis=1)
df_guru["Etika_Digital"] = df_likert_guru[dim_etika].mean(axis=1)
df_guru["Keamanan_Digital"] = df_likert_guru[dim_keamanan].mean(axis=1)
df_guru["Budaya_Digital"] = df_likert_guru[dim_budaya].mean(axis=1)

print("\nSkor Guru per Dimensi:")
df_guru[["Skill_Digital", "Etika_Digital", "Keamanan_Digital", "Budaya_Digital"]].head()

Skor Guru per Dimensi:

   Skill_Digital  Etika_Digital  Keamanan_Digital  Budaya_Digital
0       3.000000       3.000000             3.000        3.000000
1       2.666667       1.857143             2.500        2.333333
2       4.000000       3.428571             3.875        4.000000
3       3.277778       3.142857             4.500        4.000000
4       2.444444       1.285714             1.125        1.000000

In [5]:
# 4. HITUNG SKOR TOTAL DAN RATA-RATA LD GURU
df_guru["Total_LD"] = df_guru[["Skill_Digital","Etika_Digital","Keamanan_Digital","Budaya_Digital"]].sum(axis=1)
df_guru["Mean_LD"] = df_guru[["Skill_Digital","Etika_Digital","Keamanan_Digital","Budaya_Digital"]].mean(axis=1)
print("\nRata-rata Skor Total Literasi Digital Guru:")
df_guru[["Total_LD", "Mean_LD"]].head()

Rata-rata Skor Total Literasi Digital Guru:

    Total_LD   Mean_LD
0  12.000000  3.000000
1   9.357143  2.339286
2  15.303571  3.825893
3  14.920635  3.730159
4   5.855159  1.463790

In [6]:
# 5. KLASIFIKASI SKOR TOTAL
# Klasifikasi guru
def kategori_ld(skor):
    if skor < 2.34:
        return "Rendah"
    elif skor < 3.67:
        return "Sedang"
    else:
        return "Tinggi"

df_guru["Level_LD"] = df_guru["Mean_LD"].apply(kategori_ld)

print("\nKlasifikasi Level Literasi Digital Guru:")
df_guru[["Mean_LD", "Level_LD"]].head()

Klasifikasi Level Literasi Digital Guru:

    Mean_LD Level_LD
0  3.000000   Sedang
1  2.339286   Rendah
2  3.825893   Tinggi
3  3.730159   Tinggi
4  1.463790   Rendah

In [7]:
# =====================================================
# 2. KLASIFIKASI SKOR TOTAL SISWA
# =====================================================

# Load data siswa
df_siswa = pd.read_csv("files/data_ct_siswa.csv", sep=';')
print("\nJumlah data siswa:", len(df_siswa))

# Ambil kolom soal CT
ct_cols = [col for col in df_siswa.columns if col.startswith("S ")]
for col in ct_cols:
    df_siswa[col] = pd.to_numeric(df_siswa[col].astype(str).str.replace(",", "."), errors="coerce").fillna(0)

print("\nSoal_CT:", ct_cols)

Jumlah data siswa: 1678

Soal_CT: ['S  1', 'S  2', 'S  3', 'S  4', 'S  5', 'S  6', 'S  7', 'S  8', 'S  9', 'S  10', 'S  11', 'S  12', 'S  13', 'S  14', 'S  15']

In [8]:
# 2. HITUNG SKOR TOTAL DAN RATA-RATA CT SISWA
df_siswa["Total_CT"] = df_siswa[ct_cols].sum(axis=1)
df_siswa["Mean_CT"] = df_siswa[ct_cols].mean(axis=1)
print("\nRata-rata Skor Total CT Siswa:")
df_siswa[["Total_CT", "Mean_CT"]].head()

Rata-rata Skor Total CT Siswa:

   Total_CT   Mean_CT
0     12.92  0.861333
1      3.61  0.240667
2     23.74  1.582667
3     29.58  1.972000
4     11.25  0.750000

In [9]:
# 3. KLASIFIKASI SKOR TOTAL SISWA

soal_cols_per_jenjang = {
    "Siaga": [col for col in ct_cols if df_siswa.loc[df_siswa["Kategori"]=="Siaga", col].notna().any()],
    "Penggalang": [col for col in ct_cols if df_siswa.loc[df_siswa["Kategori"]=="Penggalang", col].notna().any()],
    "Penegak": [col for col in ct_cols if df_siswa.loc[df_siswa["Kategori"]=="Penegak", col].notna().any()]
}

def skor_max(row):
    jenjang = row["Kategori"]
    if jenjang == "Siaga":
        return len(soal_cols_per_jenjang["Siaga"]) * 8.33
    else:
        return len(soal_cols_per_jenjang[jenjang]) * 6.67

df_siswa["Persentase_CT"] = df_siswa.apply(lambda row: row["Total_CT"]/skor_max(row), axis=1)

# Klasifikasi siswa berdasarkan persentil per jenjang
def kategori_ct(df, skor_col="Persentase_CT", jenjang_col="Kategori"):
    df["Level_CT"] = ""
    for jenjang in df[jenjang_col].unique():
        mask = df[jenjang_col] == jenjang
        q1 = df.loc[mask, skor_col].quantile(0.33)
        q2 = df.loc[mask, skor_col].quantile(0.66)
        df.loc[mask, "Level_CT"] = df.loc[mask, skor_col].apply(lambda x: "Rendah" if x<=q1 else ("Sedang" if x<=q2 else "Tinggi"))
    return df

df_siswa = kategori_ct(df_siswa)

tampil_siswa = df_siswa.groupby("Kategori").head(3)
print("\nKlasifikasi Level CT Siswa:")
tampil_siswa[["Kategori", "Persentase_CT", "Level_CT"]].head(10)

Klasifikasi Level CT Siswa:

        Kategori  Persentase_CT Level_CT
0          Siaga       0.103401   Rendah
1          Siaga       0.028892   Rendah
2          Siaga       0.189996   Sedang
385   Penggalang       0.113243   Sedang
386   Penggalang       0.439880   Tinggi
387   Penggalang       0.166517   Sedang
1613     Penegak       0.233283   Tinggi
1614     Penegak       0.244278   Tinggi
1615     Penegak      -0.005097   Rendah

In [10]:
# =====================================================
# 3. PERBANDINGAN GURU & SISWA BERDASARKAN SEKOLAH
# =====================================================

def key_school(name):
    if pd.isna(name):
        return ""
    return " ".join(str(name).lower().strip().split()[:3])  

df_guru['sekolah_key'] = df_guru['Asal Instansi'].apply(key_school)
df_siswa['sekolah_key'] = df_siswa['SekolahNama'].apply(key_school)

In [11]:
# Guru per sekolah
guru_per_sekolah = df_guru.groupby('sekolah_key').agg({
    'Asal Instansi':'first',
    'Mean_LD':'mean',
    'Level_LD': lambda x: x.mode()[0]
}).reset_index()

print("\nRata-rata Skor LD per Sekolah:")
guru_per_sekolah[["Asal Instansi", "Mean_LD", "Level_LD"]].head()

Rata-rata Skor LD per Sekolah:

                  Asal Instansi   Mean_LD Level_LD
0        Jln DI Panjaitan 1 Ska  4.002976   Tinggi
1         SD Kristen Banjarsari  3.534722   Tinggi
2        SD Kristen Danukusuman  4.322421   Tinggi
3  SD Kristen Manahan Surakarta  3.492645   Sedang
4        SD Kristen Setabelan 1  3.746032   Tinggi

In [12]:
# Siswa per sekolah
siswa_per_sekolah = df_siswa.groupby(['sekolah_key','SekolahNama']).agg({
    "Mean_CT":"mean",
    "Level_CT": lambda x: x.mode()[0]
}).reset_index()

print("\nRata-rata Skor LD per Sekolah:")
siswa_per_sekolah[["SekolahNama", "Mean_CT", "Level_CT"]].head()

Rata-rata Skor LD per Sekolah:

                        SekolahNama   Mean_CT Level_CT
0                   SD BUKIT AKSARA  1.736333   Sedang
1             SD Kristen Banjarsari  1.091558   Rendah
2      SD Kristen Manahan Surakarta  1.726798   Tinggi
3  SD Kristen Setabelan 1 Surakarta  1.902333   Sedang
4               SD Kristen Shekinah  1.644985   Tinggi

In [13]:
# Merge guru & siswa
df_perbandingan = guru_per_sekolah.merge(
    siswa_per_sekolah,
    on="sekolah_key",
    how="inner"
)[['Asal Instansi','SekolahNama','Level_LD','Level_CT','Mean_LD','Mean_CT']]

print("\nPerbandingan LD Guru & CT Siswa:")
df_perbandingan.head(10)

Perbandingan LD Guru & CT Siswa:

,Asal Instansi,SekolahNama,Level_LD,Level_CT,Mean_LD,Mean_CT
0,SD Kristen Banjarsari,SD Kristen Banjarsari,Tinggi,Rendah,3.534722,1.091558
1,SD Kristen Manahan Surakarta,SD Kristen Manahan Surakarta,Sedang,Tinggi,3.492645,1.726798
2,SD Kristen Setabelan 1,SD Kristen Setabelan 1 Surakarta,Tinggi,Sedang,3.746032,1.902333
3,SMK KRISTEN 1 SURAKARTA,SMK KRISTEN 1 SURAKARTA,Sedang,Rendah,3.363297,0.645027
4,SMP Kristen 1 Surakarta,SMP Kristen 1 Surakarta,Sedang,Sedang,3.362757,1.156217

In [14]:
from scipy.stats import pearsonr

# Hitung korelasi Pearson + p-value
r, p_value = pearsonr(df_perbandingan['Mean_LD'], df_perbandingan['Mean_CT'])
print("Korelasi (r) :", r)
print("P-value korelasi:", p_value)

Korelasi (r) : 0.769577170955543
P-value korelasi: 0.1280886403847603

Dari data yang ada, guru punya literasi digital tinggi, biasanya siswanya punya skor CT yang lebih tinggi. Hasil korelasinya cukup tinggi (r = 0.77), cuma secara statistik belum bisa dibilang signifikan (p = 0.13), kemungkinan karena jumlah sekolah yang dianalisis masih sedikit.

In [15]:
# Pastikan guru per sekolah cuma 1 baris
df_guru_unique = df_guru.groupby('sekolah_key').agg({
    'Level_LD':'first'
}).reset_index()

# Merge dengan siswa
df_perbandingan = df_siswa.merge(
    df_guru_unique, 
    on='sekolah_key',
    how='left'
)

# Lihat distribusi per level guru
print("\nDistribusi Level Literasi Digital Guru:\n")
print(df_perbandingan['Level_LD'].value_counts())

tinggi = df_perbandingan[df_perbandingan['Level_LD'] == 'Tinggi']
sedang = df_perbandingan[df_perbandingan['Level_LD'] == 'Sedang']
rendah = df_perbandingan[df_perbandingan['Level_LD'] == 'Rendah']

print("\n=== Guru Tinggi ===")
print(tinggi['Level_CT'].value_counts())

print("\n=== Guru Sedang ===")
print(sedang['Level_CT'].value_counts())

print("\n=== Guru Rendah ===")
print(rendah['Level_CT'].value_counts())

Distribusi Level Literasi Digital Guru:

Level_LD
Sedang    269
Tinggi    217
Rendah     89
Name: count, dtype: int64

=== Guru Tinggi ===
Level_CT
Sedang    76
Rendah    72
Tinggi    69
Name: count, dtype: int64

=== Guru Sedang ===
Level_CT
Sedang    91
Tinggi    90
Rendah    88
Name: count, dtype: int64

=== Guru Rendah ===
Level_CT
Rendah    44
Sedang    30
Tinggi    15
Name: count, dtype: int64